Source: simplecontainer
Priority: extra
Maintainer: Gihan Munasinghe <ayeshka@gamil.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: 

Package: simplecontainer
Architecture: any
Description: A simple name container solution based on just name spaces and overlay fs
